.*
~*
__pycache__
!.dockerignore
!.dockerignoredo
!.git
!.python-version
!.github/
!.semgrep/
!.gitignore
!.pre-commit-config.yaml
!.gitattributes
!.importlinter
!tests/.coveragerc
!docs/**/.pages
/DATA
junit.xml
coverage.xml

src/hope_portal/version.py

node_modules/
dist/
