{% extends "layout.html" %}
{% load static i18n %}
{% block header %}
    <div class="navbar bg-base-100 shadow-sm m-0 p-0">
    </div>
{% endblock header %}
{% block page %}
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center">
        </div>
        <div class="mx-auto mb-10">
            <img class="rounded-md" src="{% static "images/hope_logo_big.png" %}" alt="logo" />
        </div>
        <div class="mx-auto mb-10">
            <a class="btn btn-primary" href="{% url "ui:flow:start" %}">{% trans "Start" %}</a>
        </div>
    </div>
{% endblock page %}
