{% if not field.is_hidden %}
    <div class="floating-field">
        {{ field.errors }}
        {{ field }}
        <label>
            {{ field.label }}
            {% if field.field.required %}
                *
            {% endif %}
        </label>
        {% if field.help_text %}
            <div class="helptext" {% if field.auto_id %}id="{{ field.auto_id }}_helptext"{% endif %}>
                {{ field.help_text|safe }}
            </div>
        {% endif %}
    </div>
{% else %}
    {{ field }}
{% endif %}
