{% extends "pages/flow/_base.html" %}
{% load i18n %}
{% block page %}
    {% if retry %}
        <div class="flex flex-col justify-center items-center">
            {% blocktranslate %}Sorry cannot find your data{% endblocktranslate %}
        </div>
        <div class="flex flex-col justify-center items-center my-10">
            <a href="{% url "ui:index" %}" class="btn btn-primary">Retry</a>
        </div>
    {% else %}
        <div class="flex flex-col justify-center items-center">
            <div class="m-auto w-full max-w-lg border border-base-300 rounded bg-base-200 shadow-sm items-center p-5 my-10 mx-4">
                <form method="POST" action="." id="ask-form">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                    {% endfor %}
                    <div class="flex justify-end gap-3">
                        <input type="submit" class="btn btn-primary" value="{% trans "Validate" %}" />
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock page %}
