{% extends "pages/flow/_base.html" %}
{% load i18n %}
{% block page %}
    <div class="flex flex-col justify-center items-center px-4">
        <div class="bg-base-200 rounded shadow-sm p-6 my-4 w-full max-w-4xl">
            {% trans "Welcome" %} {{ household.head_of_household.given_name }} ({{ household.head_of_household.detail_id }})
        </div>
    </div>
    <div class="flex flex-col px-4 max-w-4xl mx-auto">
        {% for program, entries in hhs.items %}
            <div class="bg-base-200 rounded shadow-sm p-4 my-4">
                <h3 class="text-lg font-medium mb-4">
                    <span class="text-lg">{% trans "Program" %}</span>: {{ program }}
                </h3>
                <div class="overflow-x-auto">
                    <table class="w-full">
                        <thead>
                            <tr class="bg-base-300">
                                <th class="text-left p-3 text-sm font-medium uppercase tracking-wider">
                                    ID
                                </th>
                                <th class="text-left p-3 text-sm font-medium uppercase tracking-wider">
                                    {% trans "Head" %}
                                </th>
                                <th class="text-left p-3 text-sm font-medium uppercase tracking-wider">
                                    {% trans "Payments" %}
                                </th>
                                <th class="text-left p-3 text-sm font-medium uppercase tracking-wider">
                                    {% trans "Tickets" %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hh in entries %}
                                <tr class="border-b border-base-300">
                                    <td class="p-3">
                                        {{ hh.unicef_id }}
                                    </td>
                                    <td class="p-3">
                                        {{ hh.head }}
                                    </td>
                                    <td class="p-3">
                                        <ul class="list-disc ml-4">
                                            {% for payment in hh.payments %}
                                                <li>
                                                    {{ payment.parent_split__payment_plan__start_date }} - {{ payment.status }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="p-3">
                                        <ul class="list-disc ml-4">
                                            {% for ticket in hh.tickets %}
                                                <li class="flex flex-wrap gap-2">
                                                    <span class="font-medium">{{ ticket.grievanceticket.get_issue_type_display }}</span>
                                                    <span class="font-medium">{{ ticket.grievanceticket.get_status_display }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex flex-wrap justify-center gap-3 my-10 px-4">
        <a class="btn btn-primary" href="{% url "ui:logout" %}">{% trans "Done" %}</a>
        {% if signed_data %}
            <a class="btn btn-outline btn-primary" href="{% url "ui:flow:open-issue" signed_data %}">{% trans "Open issue" %}</a>
        {% endif %}
        {% if signed_data %}
            <form action="{% url "ui:flow:account-create" signed_data %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-ghost btn-primary" value="{% trans "Create account" %}" />
            </form>
        {% endif %}
    </div>
{% endblock page %}
