{% extends "pages/flow/_start.html" %}
{% load i18n %}
{% block title %}
    {% trans "Login" %}
{% endblock title %}
{% block message %}
    {% blocktranslate %}
        Sign in with the username and password you created after verifying your identity.
        If you do not have credentials yet, use Registration Number, SMS, or Email first, then set a username and password.
    {% endblocktranslate %}
{% endblock message %}
{% block submit %}
    <input type="submit" class="btn btn-primary" value="{% trans "Sign in" %}" />
{% endblock submit %}
